#hero {
  background-image: url("/static/images/herobg.jpeg");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: rgb(241, 242, 243)
}

.title-idhika {
  font-family: 'Aboreto', cursive;
  font-weight: bolder;
  font-size: 400%;

}

.slogan {
  font-family: 'Explora', cursive;
  font-weight: bold;
  font-size: 400%;
}

#features {
  
}

#products {
  background-color: rgb(241, 242, 243)
}

#contact-us {
  background-image: url("/static/images/contact-us-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  color: white;
}

.contact-div {
  background-color: rgba(0, 0, 0, 0.661);
  width: 50%;
}

@media (max-width: 767px) {
  #hero {
    background: none;
    background-color: rgb(241, 242, 243)
  }

  #contact-us {
    width: 100%;
  }

  .contact-div {
    width: 100%;
  }
}

#about-1 {
  background-color: black;
  color: white;
}