#hero {
  background-image: url("/static/images/herobg.jpeg");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: rgb(241, 242, 243)
}

.bb {
  /* border: 2px solid black; */
  
}

.title-idhika {
  font-family: 'Aboreto', cursive;
  font-weight: bolder;
  font-size: 400%;
  
}

.slogan {
  font-family: 'Explora', cursive;
  font-weight: bold;
  font-size: 400%;
}

#features {
  background-color: #101010;
  color: white;
}

